{% extends 'base.html' %}
{% block content %}

<main>
    <section id="content">
        <h1>About</h1>
        <p>
            This app can be used like a library for your games and be used to keep up with how many hours you have played each of those games.
            What you will do is add the game, its genre, and then a link to a cover art photo for the game. After that you will select 
            the day in which you started playing that game. From there on you will add each of your sessions and how many hours you played 
            during that session.
        </p>
    </section>
</main>

{% endblock content %}